openapi: 3.0.1
servers:
  - url: https://api.reissue.demo.ubirch.com/
    description: STAGING re-issue api server
  - url: https://api.reissue.ubirch.com/
    description: PRODUCTION re-issue api server
info:
  title: Re-issue Service API
  description: |
    The re-issue service API generates signed
    [Digital Green Certificate (DGC)](https://github.com/ehn-digital-green-development/ehn-dgc-schema)
    conforming certificates with the short validity and based on current regulations. It is mainly used by Apps
    to re-issue validation certificates.

    ```
    Copyright (C) 2021 IBM Deutschland GmbH
    Copyright (C) 2021 ubirch GmbH

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
    ```

  version: 2.0.0
  license:
    name: 'Apache License, Version 2.0'
    url: 'https://www.apache.org/licenses/LICENSE-2.0'
  contact:
    name: UBIRCH GmbH
    url: https://ubirch.com
    email: mailto:support@ubirch.com
paths:
  # ===========================================================
  # Available API endpoints
  # ===========================================================
  /api/certify/v2/reissue:
    post:
      tags:
        - Re-issuing
      summary: Re-issue a new certificate based on an existing valid certificate.
      description: |
        # Description

        Re-issue a new certificate based on an existing valid certificate. This operation verifies the authenticity and
        the integrity of the certificate, checks some formal rules of the content of the certificate and re-issues
        a new certificate with a different validity and/or re-encoded specifics (i.e. series encoding) than the original
        certificate.

        *Applications:* mobile applications, wallet apps
      requestBody:
        description: |
          A list of valid Digital Green Certificate(s) (DGC) signed in Germany (DE) that are needed for re-issue.
        content:
          application/json:
            schema:
              type: object
              properties:
                action:
                  description: |
                    The operation to execute on the input certificate(s). All certificates in a single request
                    must adhere to same-person rule. Each request operates on certificates of one person.
                  type: string
                  required: true
                  enum:
                    - renew
                    - combine
                certificates:
                  description: One or more certificates required for the operation.
                  type: array
                  required: true
                  minItems: 1
                  items:
                    '$ref': 'dcc-certify-api.yaml#/components/schemas/CertificateEncoded'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: |
                  The result of the operation, which may be one or more certificates. For each certificate the 
                  executed operation is indicated.
                type: array
                items:
                  '$ref': '#/components/schemas/CertificateReissueResponse'
        '400':
          description: Invalid Request
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              examples:
                BodyTooLarge:
                  description: The request is too large and considered unacceptable.
                  value:
                    error: RI400-0100
                    message: body too large
                InvalidRequest:
                  description: The body does not contain parsable json or is missing required fields.
                  value:
                    error: RI400-0200
                    message: invalid request
                ActionNotAcceptable:
                  description: The action field contains none of the accepted values.
                  value:
                    error: RI400-0300
                    message: action not acceptable
                WrongNumberOfCertificates:
                  description: The number of certificates provided does not match the expected number for the case.
                  value:
                    error: RI400-0400
                    message: wrong number of certificates
                InvalidCertificateFormat:
                  description: |
                    One or more certificats does not conform to the DCC serialization format,
                    i.e. missing the 'HC1:' prefix.
                  value:
                    error: RI400-0500
                    message: invalid certificate format
                InvalidCertificateEncoding:
                  description: One or more certificates cannot be decoded.
                  value:
                    error: RI400-0600
                    message: invalid certificate encoding
                InvalidCertificateCompression:
                  description: One of the certificates cannot be decompressed.
                  value:
                    error: RI400-0700
                    message: invalid certificate encoding
                InvalidCOSEEncoding:
                  description: One of the certificates cannot be decoded to COSE/CBOR.
                  value:
                    error: RI400-0800
                    message: invalid certificate format
                UnknownSigner:
                  description: One of the certificates has a signature from an unknown signer.
                  value:
                    error: RI400-0900
                    message: a certificate could not be verified
                NameMismatch:
                  description: The certificates do not belong together due to a name mismatch.
                  value:
                    error: RI400-1000
                    message: certificates not acceptable for action
                BirthDateMismatch:
                  description: The certificates do not belong together due to a birth date mismatch.
                  value:
                    error: RI400-1100
                    message: certificates not acceptable for action
                ConditionFailed:
                  description: The certificates fail to meet the condition for reissuing.
                  value:
                    error: RI400-1200
                    message: certificates not acceptable for action
                InvalidSignature:
                  description: One of the certificates fails the signature verification.
                  value:
                    error: RI400-1300
                    message: invalid signature
                RuleValidationError:
                  description: One or more certificates are not valid.
                  value:
                    error: RI400-1400
                    message: certificates not acceptable for action
        '411':
          description: Length Required
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                LengthRequired:
                  value:
                    error: RI411-0100
                    message: length required
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error

components:
  schemas:
    CertificateReissueResponse:
      type: object
      properties:
        certificate:
          '$ref': 'dcc-certify-api.yaml#/components/schemas/CertificateEncoded'
        relations:
          description: Array of certificates related to this new certificate indicating the action.
          type: array
          items:
            '$ref': '#/components/schemas/CertificateReissueRelation'

    CertificateReissueRelation:
      type: object
      properties:
        index:
          description: The index of the related certificate from the request.
          type: number
        action:
          description: The operational relation to the new certificate.s
          type: string
          enum:
            - replace

    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: A machine readable error code.
        message:
          type: string
          description: Human readable description of the error.
      required:
        - error


